.DS_Store
node_modules/
screenshots/
npm-debug.log
example/
secret/
*.tgz
babel.config.js
/src
/tsconfig.json

.eslintignore
.eslintrc.js
.prettierrc
jest.config.js
example.js
app.json

/.expo
web-build
/.github/
/scripts